In [2]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd
import numpy as np

In [5]:
datos=pd.read_excel(r'C:\Users\rodrigo.villanueva.c\Documents\TODO_PYTHON\Curso_Ploty-dash\Datasets\3.8\Temperaturas.xlsx')

datos.head()

       FECHA  Ciudad  T, Máxima  T,Mínima  T_Promedio
0 2019-06-01  Madrid       33.1      17.2       25.15
1 2019-06-02  Madrid       34.5      19.0       26.75
2 2019-06-03  Madrid       32.8      20.3       26.55
3 2019-06-04  Madrid       29.0      18.9       23.95
4 2019-06-05  Madrid       22.1      12.7       17.40

In [ ]:
data=[go.Box(
    x=datos["Ciudad"],
    y=datos["T_Promedio"]
)]


layout=go.Layout(title="Box and Temperatura")

fig=go.Figure(data=data,layout=layout)

pyo.plot(fig, filename="Box_temperatura.html")