In [2]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd
import numpy as np

df=pd.read_excel(r'C:\Users\rodrigo.villanueva.c\Documents\TODO_PYTHON\Curso_Ploty-dash\Datasets\3.6\Info_pais.xlsx')

df.head()

,País,Continente,Poblacion,Renta per capita,Esperanza de vida
0,United States,North America,325084756,59939,78.9
1,China,Asia,1421021791,8612,76.7
2,Japan,Asia,127502725,38214,84.5
3,Germany,Europe,82658409,44680,81.2
4,India,Asia,1338676785,1980,69.4

In [8]:
dic_color={"North America":"green", "Asia":"yellow", "Europe":"red", "South America":"blue", "Oceania":"brown", "Africa":"orange"}

df["color_cont"]=df["Continente"].map(dic_color)

df.head(100)

,País,Continente,Poblacion,Renta per capita,Esperanza de vida,color_cont
0,United States,North America,325084756,59939,78.9,green
1,China,Asia,1421021791,8612,76.7,yellow
2,Japan,Asia,127502725,38214,84.5,yellow
3,Germany,Europe,82658409,44680,81.2,red
4,India,Asia,1338676785,1980,69.4,yellow
...,...,...,...,...,...,...
95,Zambia,Africa,16853599,1535,63.5,orange
96,El Salvador,North America,6388126,3883,73.1,green
97,Iceland,Europe,334393,73233,82.9,red
98,Honduras,North America,9429013,2437,75.1,green
99,Cambodia,Asia,16009409,1384,69.6,yellow

In [10]:
data=[go.Scatter(
    x=df["Renta per capita"],
    y=df["Esperanza de vida"],
    mode="markers",
    text=df["País"], #cuando pases por arriba aparace el texto pais
    marker=dict(
        #se crea un diccionario con los siguientes valores
        size=(df["Poblacion"])/5000000,
        color=df["color_cont"]
    ))]


layout=go.Layout(title="Renta percapita y Esperanza de Vida",
xaxis=dict(title="Renta per Capita"),
yaxis=dict(title="Esperanza de Vida"),
)


fig=go.Figure(data=data,layout=layout)

pyo.plot(fig, filename="Burbujas_esperanza_vida.html")

'Burbujas_esperanza_vida.html'