In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r'C:\Users\rodrigo.villanueva.c\Documents\TODO_PYTHON\Curso_Ploty-dash\Datasets\2.3\Info_pais.csv', encoding='ISO-8859-1', delimiter=';')

In [4]:
df.head()

            País   Poblacion  Renta per capita Esperanza de vida
0  United States   325084756             59939              78,9
1          China  1421021791              8612              76,7
2          Japan   127502725             38214              84,5
3        Germany    82658409             44680              81,2
4          India  1338676785              1980              69,4

In [5]:
df.head(10)

             País   Poblacion  Renta per capita Esperanza de vida
0   United States   325084756             59939              78,9
1           China  1421021791              8612              76,7
2           Japan   127502725             38214              84,5
3         Germany    82658409             44680              81,2
4           India  1338676785              1980              69,4
5  United Kingdom    66727461             39532              81,2
6          France    64842509             39827              82,5
7          Brazil   207833823              9881              75,7
8           Italy    60673701             32038              83,6
9          Canada    36732095             44841              82,3