In [2]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

df=pd.read_excel(r'C:\Users\rodrigo.villanueva.c\Documents\TODO_PYTHON\Curso_Ploty-dash\Datasets\3.5\Medallas_olímpicas.xlsx')

df.head()

                     País   Oro  Plata  Bronce  Total
0    Estados Unidos (USA)  1022    794     704   2520
1   Unión Soviética (URS)   395    319     296   1010
2       Reino Unido (GBR)   263    295     289    847
3             China (CHN)   227    163     153    543
4          Alemania (GER)   219    246     269    734

In [7]:
#Ordenamos 
df=df.sort_values(by="Total",ascending=False)
df.head()

dat1=go.Bar(
x=df["País"],
y=df["Oro"],
name="Oro",
marker={"color": "#FFD700"}
#modelo Lineal + marcadores
)

dat2=go.Bar(
x=df["País"],
y=df["Plata"],
name="Plata",
marker={"color": "#C0C0C0"}
#modelo Lineal + marcadores
)

dat3=go.Bar(
x=df["País"],
y=df["Bronce"],
name="Bronce",
marker={"color": "#CD7F32"}
#modelo Lineal + marcadores
)

data=[dat1,dat2,dat3]


layout=go.Layout(title="Medallas olímpicas por País",
xaxis=dict(title="País"),
yaxis=dict(title="Total de medallas"),
barmode="stack"  #Para que se vean los tres valores en la misma linea.
)

fig=go.Figure(data=data,layout=layout)

pyo.plot(fig, filename="Medallas_bar.html")

'Medallas_bar.html'