In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [3]:
df=pd.read_csv(r'C:\Users\rodrigo.villanueva.c\Documents\TODO_PYTHON\Curso_Ploty-dash\Datasets\3.4\Ventas.csv', encoding='ISO-8859-1', delimiter=';')

df.head()

,Fecha,Total Venta Classic Cars,Total Venta Motorcycles,Total Venta Planes,Total Venta Ships,Total Venta Trains,Total Venta Trucks and Buses,Total Venta Vintage Cars
0,ene-21,198555,66199,103496.0,69068.0,NaN,101661.0,76212
1,feb-21,220266,107584,50660.0,46688.0,22295.0,7973.0,75539
2,mar-21,216497,158174,168445.0,2353.0,5234.0,71864.0,80267
3,abr-21,267449,52374,20541.0,NaN,NaN,51155.0,60920
4,may-21,285155,51863,NaN,NaN,25326.0,64369.0,67898

In [8]:
dat1=go.Scatter(
x=df["Fecha"],
y=df["Total Venta Classic Cars"],
mode="lines+markers",
name="Cars"
#modelo Lineal + marcadores
)


dat2=go.Scatter(
x=df["Fecha"],
y=df["Total Venta Motorcycles"],
mode="lines+markers",
name="Motocicletas"
#modelo Lineal + marcadores
)

dat3=go.Scatter(
x=df["Fecha"],
y=df["Total Venta Vintage Cars"],
mode="lines+markers",
name="Total de Ventas"
#modelo Lineal + marcadores
)


data=[dat1,dat2,dat3]

layout=go.Layout(title="Ventas Carros y Motos",
xaxis=dict(title="Fecha"),
yaxis=dict(title="Total de Venta")
)

fig=go.Figure(data=data,layout=layout)

pyo.plot(fig, filename="Ventas Motos_Carros.html")

'Ventas Motos_Carros.html'