In [5]:
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly import subplots
import pandas as pd
import numpy as np

df=pd.read_csv(r'C:\Users\rodrigo.villanueva.c\Documents\TODO_PYTHON\Curso_Ploty-dash\Datasets\3.12\Temperatura_horaria.csv', encoding='ISO-8859-1', delimiter=';')

df.head(10)

                 Fecha    Día     Hora  T_prom
0  2019-06-15T00:00:00  Lunes  0:00:00    12.8
1  2019-06-15T01:00:00  Lunes  1:00:00    12.5
2  2019-06-15T02:00:00  Lunes  2:00:00    12.6
3  2019-06-15T03:00:00  Lunes  3:00:00    12.1
4  2019-06-15T04:00:00  Lunes  4:00:00    12.2
5  2019-06-15T05:00:00  Lunes  5:00:00    11.9
6  2019-06-15T06:00:00  Lunes  6:00:00    12.7
7  2019-06-15T07:00:00  Lunes  7:00:00    13.5
8  2019-06-16T08:00:00  Lunes  8:00:00    15.3
9  2019-06-16T09:00:00  Lunes  9:00:00    15.6

In [8]:
data=[go.Heatmap(
    x=df["Día"],
    y=df["Hora"],
    z=df["T_prom"].values.tolist(),colorscale="Jet"   #Salida de los colores
)]


layout=go.Layout(title="Heatmaps Temperatura")

fig=go.Figure(data=data, layout=layout)

pyo.plot(fig,filename="Heatmaps_MapaCalor.html")

'Heatmaps_MapaCalor.html'