In [2]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [4]:
df=pd.read_csv(r'C:\Users\rodrigo.villanueva.c\Documents\TODO_PYTHON\Curso_Ploty-dash\Datasets\3.3\SP500_data_.csv', encoding='ISO-8859-1', delimiter=',')

In [5]:
df.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  1928-01-03  17.760000  17.760000  17.760000  17.760000  17.760000       0
1  1928-01-04  17.719999  17.719999  17.719999  17.719999  17.719999       0
2  1928-01-05  17.549999  17.549999  17.549999  17.549999  17.549999       0
3  1928-01-06  17.660000  17.660000  17.660000  17.660000  17.660000       0
4  1928-01-09  17.500000  17.500000  17.500000  17.500000  17.500000       0

In [36]:
data1=go.Scatter(
x=df["Date"],
y=df["Close"],
mode="lines+markers",
name="Cierre"
#modelo Lineal + marcadores
)

data2=go.Scatter(
x=df["Date"],
y=df["Open"],
mode="lines+markers",
name="Apertura"
#modelo Lineal + marcadores
)

data3=go.Scatter(
x=df["Date"],
y=df["Low"],
mode="lines+markers",
name="Low"
#modelo Lineal + marcadores
)

datos=[data1, data2, data3]

In [31]:
layout=go.Layout(title="SP500 Line Plot",
xaxis=dict(title="Fecha"),
yaxis=dict(title="SP500 Valor")
)

In [38]:
fig=go.Figure(data=datos,layout=layout)

In [40]:
pyo.plot(fig, filename="Line_plot.html")

'Line_plot.html'